/* ====================================
  GLOBAL STYLES
======================================= */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color : black;
  overflow: hidden;
  caret-color: red;
}

h1,
h2,
h3 {
  font-style: italic;
}

h1 {
  color: #d0ff37;
}

h2 {
  color: #dbfa6b;
  margin: auto;
  width: 50%;
}

h3 {
  color: #d9fdaa;
  margin: auto;
  width: 50%;
}

a {
  overflow-wrap: break-word;
}

input {
  width: 30%;    
  display: block;
  margin: 0 auto 10px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px rgb(255, 145, 0);
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

/* ====================================
  SCROLLBAR STYLES
=======================================
  Only for webkit based browsers.
  For mozilla styles go to selector:
  .CodeMirror
======================================= */

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #7e7e7e;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border: 0 none #000000;
  border-radius: 53px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
}

/* ====================================
  UTILITY/HELPER CLASSES
======================================= */

.u-txtcenter {
  text-align: center; 
}

.u-displaywrapper {
  height: 100vh;
  width: 100%;
}

/* ====================================
  COMPONENTS CLASSES
======================================= */

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.editor-mode {
  width: 85%;
  max-height: 100vh;
  overflow-y: scroll;
}

/* ====================================
  CodeMirror CUSTOM STYLES
======================================= */

.CodeMirror {
  width: 100%;
  height: 100%; 
  scrollbar-color: rgba(0.5,0.5,0.5,1.0) rgba(0.5,0.5,0.5,.0); /* Mozilla styles */
}

.CodeMirror-present {
  background-color: rgba(255, 255, 255, 0.0) !important;
  text-shadow: 1px 1px #555555;
  caret-color: red !important;
  position: absolute;
  top: 0;
  left: 0;
}

.CodeMirror-editor {
  /* ToDo: Change bg color in CodeMirror directly or leave it here? */
  background-color: #c5c5c5;
}

.remote-caret {
  position: relative;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: -1px;
  margin-right: -1px;
  box-sizing: border-box;
}

.remote-caret > div {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: .6em;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 3;
  transition: opacity .3s ease-in-out;
}

.remote-caret.hide-name > div {
  transition-delay: .7s;
  opacity: 0.5;
}

.remote-caret:hover > div {
  opacity: 1;
  transition-delay: 0s;
}

.cm-searching {
  background-color: transparent;
}

.CodeMirror-gutters {
  border-right: 1px solid #000;
  background-color: #000000;
}

.CodeMirror-present.cm-s-default .cm-comment {
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  text-shadow: 0 0 5px black, 0 0 15px black;
}

.CodeMirror-present span[role=presentation] { 
  background-color: rgba(255, 255, 255, 0.69); 
}

span.cm-tab[role=presentation] { 
  background-color: transparent; 
}