/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color : black;
  overflow : hidden;
  caret-color: red;
  
  
/*   margin: 2em; */
}

h1 {
  font-style: italic;
  color: #d0ff37;
}
h2 {
  font-style: italic;
  color: #dbfa6b;
  margin: auto;
  width: 50%;
  text-align: center;
}
h3 {
  font-style: italic;
  color: #d9fdaa;
  margin: auto;
  width: 50%;
  text-align: center;
}

.bold {
  font-weight: bold;
}
p {
  max-width: 600px;
}

form {
/*   margin-bottom: 25px; */
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
  caret-color: red;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  caret-color: red;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px rgb(255, 145, 0);
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.hidden {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  height: 100%;
  width: 100%;
}

.editor {
  width: 45%;
  /* overflow: scroll; */
  max-height: 100vh;
}

.displaywrapper {
  height: 100%;
  width: 100%;
}

#enterScreen { caret-color: red; text-align: center; z-index:-100}

.container {
  height: 100vh;
  width: 100%;
}

#room{width: 30%;    
    margin-left: auto;
    margin-right: auto}

.CodeMirror-present {
  background-color: rgba(255, 255, 255, 0.0) !important;
  text-shadow: 1px 1px #555555;
  caret-color: red !important;
  scrollbar-color: rgba(0.5,0.5,0.5,1.0) rgba(0.5,0.5,0.5,.0);
  position: absolute !important;
  top: 0;
  left: 0;
}

.CodeMirror {
  height: 100% !important;
}

#welcome-screen {
  width: 100%;
  height: 100%;
}

.remote-caret {
  position: relative;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: -1px;
  margin-right: -1px;
  box-sizing: border-box;
}
.remote-caret > div {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: .6em;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 3;
  transition: opacity .3s ease-in-out;
}
.remote-caret.hide-name > div {
  transition-delay: .7s;
  opacity: 0.5;
}
.remote-caret:hover > div {
  opacity: 1;
  transition-delay: 0s;
}

.cm-searching {
  background-color: transparent;
  background-color: transparent;
}::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border: 1px solid #7e7e7e;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
::-webkit-scrollbar-thumb:active {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #000000;
  border-radius: 53px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.CodeMirror-gutters {
  border-right: 1px solid #000;
  background-color: #000000;
}
.cm-s-default .cm-comment {
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  text-shadow: 0px 0px 5px black,0px 0px 15px black;
}
span[role=presentation] { 
  background-color: rgba(255, 255, 255, 0.609); 
}
span.cm-tab[role=presentation] { 
  background-color: transparent ; 
}
.CodeMirror-line{   
  caret-color: rgb(1, 255, 22) !important; 
  text-shadow: 1px 1px 2px rgb(112, 112, 112), 0 0 25px rgb(155, 155, 155), 0 0 5px rgb(143, 143, 143);
  /* -1px 0 rgb(231, 231, 231), 0 1px rgb(255, 255, 255), 1px 0 white, 0 -1px white; */
}
/* element[role="presentation"] {
  background-color: rgba(170, 223, 241, 0.424) !important; /*for overriding the old css styles */
  /* } */ */

canvas{
  position: fixed; 
}
