:root {
  --dark-accent: #4f3939;
  --primary: #33333333;
  --spacing-size: 16px;
  --bg: #33333333;
  --border-weight: 10px;
  --divider-weight: 2px;
  --border-radius: 8px;
  --medium-spacing: 8px;
  --smaller-padding: 4px;
  --shadow-color: rgba(206, 152, 102, 0.15);
}

* {
  box-sizing: border-box;
  font-family: Source Code Pro;
  color: var(--dark-accent);
}

body {
  margin: 0px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  display: inline-flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-accent);
  /* background-image: url('https://freesvg.org/img/Squiggles2--Arvin61r58-Prismatic.png'); */
  background-repeat: repeat;
}

#title {
  font-size: 80px;
  padding-bottom: 40px;
  /* margin-top: -180px; */
  color: #008800;
  font-family: Source Code Pro;
}

#ratvas {
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 48px var(--shadow-color);
  flex: 1;
}

#ratvas-container {
  height: 496px;
}

#gl-canvas {
  border-radius: var(--border-radius);
  border: var(--medium-spacing) solid var(--primary);
  box-shadow: 4px 4px 48px var(--shadow-color);
  flex: 1;
}

#gl-canvas:focus {
  outline: none;
}

#options {
  display: flex;
  height: 496px;
  flex-direction: row;
  margin-left: var(--medium-spacing);
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 24px var(--shadow-color);
  background-color: white;
  padding: var(--spacing-size);
}

#mobile-options {
  display: none;
}

#drawing-container {
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  flex: 1;
}

#drawing-display-controls-container {
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  padding: var(--medium-spacing);
  border-radius: var(--border-radius);
}

#drawing-area {
  display: flex;
  flex-direction: row;
  user-select: none;
  -moz-user-select: none;
}

.vert-divider {
  width: var(--divider-weight);
  background-color: var(--primary);
}

.horz-divider {
  height: var(--divider-weight);
  background-color: var(--primary);
}

#background-preview-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.background-preview {
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: 5px;
}

.background-preview-active {
  border: 10px solid var(--primary);
  border-radius: 45px;
  width: 90px;
  height: 90px;
  margin-top: -2.5px;
  padding: 0;
}

.display-text {
  padding-bottom: 10px;
  text-align: center;
}

/* slider styles */

#other-options {
  position: relative;
  width: 96px;
  display: flex;
  flex-direction: column;
  padding-left: var(--spacing-size);
  margin-right: 10px;
}

#width {
  position: relative;
  height: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 316px;
  height: var(--medium-spacing);
  background: var(--primary);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  transform: rotate(90deg);
  margin-top: 210px;
  margin-left: -120px;
}

.slider:hover {
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 40px;
  background: var(--dark-accent);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 40px;
  background: var(--dark-accent);
  cursor: pointer;
}

#top {
  position: absolute;
  top: 20px;
  left: 26px;
}

#bottom {
  position: absolute;
  bottom: 12px;
  left: 16px;
}

/* undoredo + colors stylings */

#colors {
  width: 196px;
  margin-right: var(--medium-spacing);
  display: flex;
  justify-content: space-evenly;
}

/* undo redo */

.undoredo {
  width: 36px;
}

#undoredo {
  display: flex;
  justify-content: space-between;
  padding-top: var(--smaller-padding);
  padding-bottom: var(--smaller-padding);
}

/* color palette stylings */

.colorpalette-container {
  padding-bottom: var(--smaller-padding);
  padding-top: 12px;
}

#brush-selections {
  display: flex;
  justify-content: space-between;
}

#brush-selections img {
  height: 24px;
}
/* 
.disabled{
    opacity: 0.1;
}
.disabled:hover{
    cursor: default !important;
} */

.not-selected {
  opacity: 0.4;
}

.btn:hover {
  opacity: 1;
  cursor: pointer !important;
}

.colorpalette {
  margin-top: var(--spacing-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.color-item {
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  transition-duration: 0.3s;
  border: 0px solid black;
}

.color-item img {
  position: absolute;
  height: 12px;
  bottom: -4px;
  right: -4px;
}

.color-item:hover {
  cursor: pointer;
}

.colorpalette-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 60px;
}

.colorpalette-text {
  text-align: center;
}
.colorpalette-text img {
  height: 16px;
  margin-bottom: -4px;
  margin-right: var(--medium-spacing);
}

.selected-color {
  box-shadow: 0px 0px 0px 3px #4f3939, 0px 4px 4px 4px #d3c9c499;
}

@media (max-width: 540px) {
  html,
  body {
    overflow-x: hidden;
  }

  #drawing-area {
    flex-direction: column;
    align-items: center;
  }

  #drawing-container {
    margin-left: 0;
  }

  #drawing-display-controls-container {
    flex-direction: column;
  }

  #gl-canvas {
    width: 250px !important;
    height: 250px !important;
  }

  .background-preview {
    width: 50px;
    height: 50px;
    margin: 3px;
    margin-top: -75px;
    z-index: 1000;
    border: 2px solid white;
    border-radius: 40px;
  }

  .background-preview-active {
    border: 8px solid var(--primary);
    border-radius: 40px;
  }

  #ratvas-container {
    width: 250px;
    height: 250px;
  }

  #ratvas {
    width: 250px !important;
    height: 250px !important;
  }

  #title {
    font-size: 46px;
    margin-top: -5px;
    padding-bottom: 5px;
    display: none;
  }

  #rat-display-container {
    margin-top: 10px;
  }

  #rat-display-text {
    display: none;
  }

  #options {
    width: 250px;
    margin: 0;
    margin-top: 5px;
    position: relative;
    padding: 0;
    padding-left: 5px;
    height: 170px;
  }

  #colors {
    flex-direction: row;
    justify-content: left;
  }

  .colorpalette {
    margin-top: 0;
  }

  .colorpalette-container {
    padding-top: 5px;
  }
  #colorpalette-pen,
  #colorpalette-bg {
    flex-direction: row;
    align-items: baseline;
    padding: 10px;
  }
  .colorpalette-row {
    flex-direction: column;
    width: 20px;
    margin-bottom: 0;
  }
  .color-item {
    width: 20px;
    height: 20px;
  }
  #undoredo {
    position: absolute;
    top: -290px;
    left: 0px;
  }
  #drawing-container {
    margin-top: -15px;
  }
  .display-text {
    padding-bottom: 4px;
    text-align: left;
  }

  #widthSlider {
    width: 70px;
    transform-origin: center;
    margin-top: 80px;
    margin-left: 5px;
  }

  #width {
    height: 150px;
    margin-top: -15px;
    margin-left: -20px;
  }

  .horz-divider {
    display: none;
  }
}
